:root { --bg1: #ffffff; --text1: #111111; --bg2: #1a1a1a; --text2: #f0f0f0; }
[data-theme="dark"] {background-color: var(--bg2); color: var(--text2); }
[data-theme="light"] {background-color: var(--bg1); color: var(--text1); }



html{background-color:rgb(80, 80, 80);

}


body{background-color:;position:relative;display:;
	margin-left:50%;
	width:1200px;
	right:600px; 
	padding:40px;     
}

.holder{background-color:;
width:1200px;
right:40px;  
      
}
button.Pages{background-color:grey;
	width:133px;
	right:40px; height:80px;
	     
}

.news{
      display:inline;
}


.news_container{
	display: flex;
	//background-color:rgb(90, 0, 80);
	height:200px;
	
//	border-color:black;
//	border-style:solid;	
	
}



article{
	display: block;
//	background-color:rgb(8, 0, 80);
	height:200px;
	width:1000px;
	
}



h1{  text-decoration: underline;
}
